<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>Welcome To Trickle!</h1>
    <p>A fun app to encourage you to build good habits!</p>
    <p>Feel free to sign up to get started! </p>
    <p>Or Login to get back to building great habits! </p>
  </div>
</div>

<div class="container-fluid">
  <div class="jumbotron text-center">
    <%= render partial: "login_register_form" %>
  </div>
</div>
